extends templates/layout

block body
  section#m
    .container.text-center
      h3 M
      hr

  section#e
    .container.text-center
      h3 E
      hr

  section#n
    .container.text-center
      h3 N
      hr

  section#u
    .container.text-center
      h3 U
      hr
